.game-title {
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 0;

    .name {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;

        .opening {
            display: flex;
            align-items: center;
            gap: 2ch;

            span {
                display: inline-block;

                &.normal {
                    // Blue
                    // --color: deepskyblue;
                    // --shadow-color: royalblue;
                    // --accent-color: mediumblue;

                    // Red
                    --color: salmon;
                    --shadow-color: brown;
                    --accent-color: maroon;
                    --pos-size: 1px;
                    --neg-size: -1px;

                    font-size: 20px;
                    color: var(--color);
                    text-shadow: -1px 2px 0 var(--accent-color), var(--neg-size) var(--neg-size) 0 var(--shadow-color),
                        var(--pos-size) var(--neg-size) 0 var(--shadow-color),
                        var(--neg-size) var(--pos-size) 0 var(--shadow-color),
                        var(--pos-size) var(--pos-size) 0 var(--shadow-color);
                }

                &.emphasize {
                    // Darker red
                    --color: tomato;
                    --shadow-color: brown;
                    --accent-color: maroon;
                    --pos-size: 1px;
                    --neg-size: -1px;

                    font-size: 20px;
                    color: var(--color);
                    text-shadow: -1px 2px 0 var(--accent-color), var(--neg-size) var(--neg-size) 0 var(--shadow-color),
                        var(--pos-size) var(--neg-size) 0 var(--shadow-color),
                        var(--neg-size) var(--pos-size) 0 var(--shadow-color),
                        var(--pos-size) var(--pos-size) 0 var(--shadow-color);
                    z-index: 1;
                }
            }
        }

        .pokemon {
            --color: rgb(255, 204, 0);
            --shadow-color: rgb(58, 93, 168);
            --accent-color: rgb(38, 62, 132);
            --pos-size: 2px;
            --neg-size: -2px;

            font-size: 40px;
            transform: translate(-23px, -25px);
            text-shadow: -4px 3px 0 var(--accent-color), var(--neg-size) var(--neg-size) 0 var(--shadow-color),
                var(--pos-size) var(--neg-size) 0 var(--shadow-color),
                var(--neg-size) var(--pos-size) 0 var(--shadow-color),
                var(--pos-size) var(--pos-size) 0 var(--shadow-color);

            span {
                position: relative;
                display: inline-block;
                color: var(--color);
            }
        }
    }

    .buttons {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
            --color: #f1f1f3;
            --shadow-color: rgb(38, 62, 132);
            --accent-color: rgb(38, 62, 132);
            --pos-size: 1px;
            --neg-size: -1px;

            cursor: pointer;
            height: 32px;
            font-size: 24px;
            color: var(--color);
            text-shadow: 3px 1px 0 var(--accent-color), var(--neg-size) var(--neg-size) 0 var(--shadow-color),
                var(--pos-size) var(--neg-size) 0 var(--shadow-color),
                var(--neg-size) var(--pos-size) 0 var(--shadow-color),
                var(--pos-size) var(--pos-size) 0 var(--shadow-color);
            font-weight: 600;
        }

        .arrows {
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 32px;
            width: 100%;
            padding-right: 42px;
            padding-left: 45px;

            .left,
            .right {
                --color: rgb(255, 204, 0);
                --shadow-color: rgb(58, 93, 168);
                --accent-color: rgb(38, 62, 132);
                --pos-size: 1px;
                --neg-size: -1px;

                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                color: var(--color);
                text-shadow: -2px 2px 0 var(--accent-color), var(--neg-size) var(--neg-size) 0 var(--shadow-color),
                    var(--pos-size) var(--neg-size) 0 var(--shadow-color),
                    var(--neg-size) var(--pos-size) 0 var(--shadow-color),
                    var(--pos-size) var(--pos-size) 0 var(--shadow-color);
            }
        }
    }

    .message {
        font-size: 11px;
        color: crimson;
        text-align: center;
    }
}

.toolbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 40px;

    button {
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;

        &.start {
            color: seagreen;
        }

        &.restart {
            color: crimson;
        }
    }
}
