.game-console {
    position: relative;
    height: 740px;
    width: 450px;
    background-color: crimson;
    border-radius: 20px 20px 80px 20px;
    box-shadow: 0 0 0 10px black;
    transform-origin: top;

    @media screen and (max-width: 500px) {
        height: 576px;
        width: 350px;
    }

    .on {
        cursor: pointer;
        position: absolute;
        top: -20px;
        right: 50px;
        border-radius: 5px 5px 0 0;
        background-color: #524346;
        border: none;
        height: 10px;
        width: 30px;
        box-shadow: 0 0 0 7px black;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        border-bottom: solid 8px black;

        .left,
        .right {
            width: 45px;
            height: 100%;
        }

        .left {
            border-right: solid 8px black;
        }

        .right {
            border-left: solid 8px black;
        }
    }

    .bezel {
        height: 375px;
        width: 100%;
        padding-inline: 40px;
        padding-top: 20px;
        padding-bottom: 15px;

        @media screen and (max-width: 500px) {
            height: 250px;
            padding-inline: 30px;
        }

        .screen {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: #524346;
            border-radius: 10px 10px 40px 10px;
            border: solid 8px black;
            padding: 20px 40px;

            @media screen and (max-width: 500px) {
                padding: 15px 30px;
            }

            .bars {
                display: flex;
                gap: 14px;
                width: 100%;
                padding-bottom: 15px;

                .left,
                .right {
                    height: 7px;
                    background-color: black;
                    border-radius: 7px;
                }

                .left {
                    flex: 1;
                }

                .middle {
                    display: flex;
                    justify-content: space-between;
                    gap: 7px;

                    .dot {
                        height: 7px;
                        width: 7px;
                        border-radius: 50%;
                        background-color: black;
                    }
                }

                .right {
                    width: 28px;
                }
            }

            .display {
                height: 100%;
                width: 100%;
                background-color: #6e8690;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 10px;
                border: solid 8px black;

                .loading {
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .name {
                        --pos-size: 2px;
                        --neg-size: -1px;

                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        text-align: center;
                        font-weight: 600;

                        .opening {
                            font-size: 28px;
                            color: white;
                            text-shadow: 4px 2px 0 #000, var(--neg-size) var(--neg-size) 0 #000,
                                var(--pos-size) var(--neg-size) 0 #000, var(--neg-size) var(--pos-size) 0 #000,
                                var(--pos-size) var(--pos-size) 0 #000;
                        }

                        .pokemon {
                            --pos-size: 2px;
                            --neg-size: -2px;

                            font-size: 40px;
                            transform: translateX(-23px);
                            text-shadow: -4px 3px 0 rgb(27, 44, 93), var(--neg-size) var(--neg-size) 0 rgb(58, 93, 168),
                                var(--pos-size) var(--neg-size) 0 rgb(58, 93, 168),
                                var(--neg-size) var(--pos-size) 0 rgb(58, 93, 168),
                                var(--pos-size) var(--pos-size) 0 rgb(58, 93, 168);

                            span {
                                position: relative;
                                display: inline-block;
                                color: rgb(255, 203, 3);

                                &:nth-child(1) {
                                    // transform: translate(46px, 10px) rotate(-12deg);
                                    font-size: 70px;
                                    z-index: 0;
                                }

                                &:nth-child(2) {
                                    // transform: translate(32px, 3px) rotate(-10deg);
                                    font-size: 44px;
                                    z-index: 1;
                                }

                                &:nth-child(3) {
                                    // transform: translate(24px, 4px) rotate(-8deg);
                                    font-size: 60px;
                                }

                                &:nth-child(4) {
                                    // transform: translate(16px, -8px) rotate(-4deg);
                                    font-size: 50px;
                                    z-index: 1;
                                }

                                &:nth-child(5) {
                                    // transform: translate(12px, 2px) rotate(4deg);
                                    font-size: 55px;
                                }

                                &:nth-child(6) {
                                    // transform: translate(8px, 1px) rotate(9deg);
                                    font-size: 44px;
                                    z-index: 1;
                                }

                                &:nth-child(7) {
                                    // transform: translateY(10px) rotate(12deg);
                                    font-size: 60px;
                                }
                            }
                        }
                    }

                    .message {
                        padding: 20px;
                        text-align: center;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .grill {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-inline: 40px;

        @media screen and (max-width: 500px) {
            padding-inline: 30px;
        }

        .bar {
            flex: 1;
            height: 7px;
            border-radius: 7px;
            background-color: black;
        }

        .vertical {
            display: flex;
            justify-content: space-between;
            gap: 7px;

            .bar {
                height: 20px;
                width: 7px;
            }
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 40px;
        padding-top: 10px;

        @media screen and (max-width: 500px) {
            padding-top: 5px;
            padding-inline: 30px;
        }

        .dpad {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 190px;
            width: 190px;
            border-radius: 50%;
            background-color: color-mix(in srgb, crimson 90%, black 15%);

            @media screen and (max-width: 500px) {
                height: 120px;
                width: 120px;

                svg {
                    height: 100px;
                    width: 100px;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            transform: rotate(-45deg);
            padding: 15px;
            background-color: color-mix(in srgb, crimson 90%, black 15%);
            border-radius: 50px;

            @media screen and (max-width: 500px) {
                gap: 15px;
                padding: 10px;
            }

            .button {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: black;

                @media screen and (max-width: 500px) {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    .pills {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        @media screen and (max-width: 500px) {
            gap: 40px;
        }

        .pill {
            height: 50px;
            width: 20px;
            border-radius: 20px;
            background-color: #524346;
            transform: rotate(60deg);
            border: solid 5px black;

            @media screen and (max-width: 500px) {
                height: 40px;
                width: 15px;
            }
        }
    }

    .vent {
        position: absolute;
        bottom: 50px;
        right: 25px;
        display: flex;
        gap: 15px;
        transform: rotate(-45deg);

        @media screen and (max-width: 500px) {
            bottom: 40px;
            right: 15px;
            gap: 10px;
        }

        .bar {
            height: 50px;
            width: 10px;
            background-color: black;
            border-radius: 5px;

            @media screen and (max-width: 500px) {
                height: 40px;
                width: 8px;
                border-radius: 4px;
            }
        }
    }
}
