@font-face {
    font-family: 'DepartureMono';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/DepartureMono.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'DepartureMono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #f1f1f3;
    overflow: hidden;
}

button {
    font-family: 'DepartureMono', monospace;
    border: none;
    background-color: transparent;
}
