.background {
    --border-size: 8px;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;

    .sky {
        flex: 1;
        background-color: #65809a;
    }

    .mountains {
        position: relative;
        height: fit-content;
        width: 100%;

        .back,
        .middle,
        .front {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            z-index: 1;

            svg {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: auto;
            }
        }

        .back {
            .left {
                transform: translateX(calc(-50% - 290px));
                height: 80px;
            }

            .right {
                transform: translateX(calc(-50% + 330px));
                height: 60px;
            }
        }

        .middle {
            .left {
                transform: translateX(calc(-50% - 140px));
                height: 120px;
            }

            .main {
                transform: translateX(-50%);
                height: 200px;
            }

            .right {
                transform: translateX(calc(-50% + 50px));
                height: 80px;
            }
        }

        .front {
            .right {
                transform: translateX(calc(-50% + 180px));
                height: 100px;
            }
        }
    }

    .plains {
        height: 300px;
        width: 100%;
        background-color: #d8d8e4;
    }

    .middleground {
        position: absolute;
        bottom: 0;
        right: 0;
        border-color: transparent black black transparent;
        border-width: 100px 160px;
        border-width: 100px 160px;
        border-style: solid;
        z-index: 2;
    }

    .foreground {
        position: absolute;
        bottom: 0;
        left: 0;
        border-color: transparent transparent black black;
        border-width: 180px 320px;
        border-width: 180px 320px;
        border-style: solid;
        z-index: 2;
    }
}
